p{
  text-align: center;
  font-family: "QuickSand", sans-serif;
  font-weight: 600;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #e72929;
  font-size: 1.4rem;
}

ul li a{
  height: 21.5rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1.5rem;
  margin-left: 10px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
}

li a:hover{
  opacity: 80%;
  cursor: pointer;
}

li a img{
  object-fit: cover;
  height: 14.5rem;
}

li a img:hover{
  opacity: 4;
  /* width: 150%;
  height: 100%; */
  position: relative;
  top: 40;
  left: 40;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 2;
  display: inline;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.content{
  margin-top: .3rem;
  padding: .5rem 1rem;
  position: relative;
  height: 7rem;
}

/* .favorite{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
} */

/* .favorite.not{
  color: gray;
} */

.price{
  background: white;
  color: #414141;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.material-icons{
  color: white;
  background-color: #e72929;
  border: none;
  width: 1.5rem;
  position: absolute;
  top: .5rem;
  right: 1rem;
  align-items: center;
  border-radius: 1.6rem;
  font-size: 1.2rem;
  padding: 0.2rem;
  outline: none;

}

.material-icons:hover{
  opacity: .3;
  cursor: hand;
}
