<h3>All Orders</h3>
<h3>
  <div class="filter-section">
    <label for="nameFilter">Filter By Name:</label>
    <select
      id="nameFilter"
      [(ngModel)]="selectedName"
      (ngModelChange)="onFilterChange()"
    >
      <option value="">All</option>
      <option *ngFor="let name of uniqueNames" [value]="name">
        {{ name }}
      </option>
    </select>
  </div>
</h3>
<table>
  <tr>
    <td><strong> # </strong></td>
    <td (click)="onSort('name')">
      <strong>
        Name
        <span *ngIf="sortBy === 'name'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      </strong>
    </td>
    <td (click)="onSort('address')">
      <strong>
        Address
        <span *ngIf="sortBy === 'address'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span></strong
      >
    </td>
    <td (click)="onSort('orderNumber')">
      <strong>
        Order Number
        <span *ngIf="sortBy === 'orderNumber'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span></strong
      >
    </td>
    <td>
      <strong> Items <br />(Quantity) </strong>
    </td>
    <td (click)="onSort('totalPrice')">
      <strong>
        Total Price
        <span *ngIf="sortBy === 'totalPrice'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span></strong
      >
    </td>
    <td (click)="onSort('createdAt')">
      <strong>
        Created At
        <span *ngIf="sortBy === 'createdAt'">
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span></strong
      >
    </td>
    <td><strong> Manage </strong></td>
  </tr>
  <tr *ngFor="let order of filteredOrders; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ order.name }}</td>
    <td>{{ order.address }}</td>
    <td>{{ order.orderNumber }}</td>
    <td>
      <p *ngFor="let item of order.items">
        ({{ item.quantity }})-{{ item.food.name }}
      </p>
    </td>
    <td>{{ order.totalPrice }} NIS</td>
    <td>{{ order.createdAt }}</td>
    <td>
      <span class="material-symbols-outlined" title="Confirm"> priority </span>
      <span class="material-symbols-outlined"> more_vert </span>
      <span class="material-symbols-outlined" title="Edit"> edit_square </span>
      <span class="material-symbols-outlined"> more_vert </span>
      <span class="material-symbols-outlined" title="Delete"> delete </span>
    </td>
  </tr>
</table>
