<div class="container">
  <div class="details">
    <app-title title="Edit Product"></app-title>
    <form [formGroup]="editProduct" (ngSubmit)="submit()">
      <!-- <text-input
        [control]="fc.tags"
        [showErrorsWhen]="isSubmitted"
        label="Category"
        type="text"
      >
      </text-input> -->
      <div class="Category">
        <label for="Category">Category</label>
        <div *ngFor="let item of category">
          <label for="item"></label>
          <input type="radio" id="item" name="item" value="item" onclick="getFoodByTag(item)"/>{{ item }}
        </div>
      </div>
      <br />

      <div class="CategoryList">
        <label for="CategoryList">Category List</label>
        <div *ngFor="let food of foods">
          {{food}}
            
        </div>
      </div>
      <br />

      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Product Name"
      >
      <div *ngFor="let food of foods">
        {{food.name}}
      </div>
      </text-input>

      <!-- <textarea
      placeholder="Description   (max 200 Chars)"
      minLength="1"
      maxLength="200"
      name="Description" id="description" cols="50" rows="5">
      </textarea> -->
      <text-input
        [control]="fc.description"
        [showErrorsWhen]="isSubmitted"
        label="Description"
        type2="textArea"
      >
      </text-input>

      <text-input
        [control]="fc.favorite"
        [showErrorsWhen]="isSubmitted"
        label="Favorite"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.price"
        [showErrorsWhen]="isSubmitted"
        label="Price"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.piece"
        [showErrorsWhen]="isSubmitted"
        label="Sell By:"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.stars"
        [showErrorsWhen]="isSubmitted"
        label="Stars"
        type1="number"
      >
      </text-input>

      <text-input
        [control]="fc.imageUrl"
        [showErrorsWhen]="isSubmitted"
        label="Picture"
        type="text"
      >
      </text-input>
      <input type="file" id="img" name="img" accept="image/*" required />

      <default-button text="Edit Product"></default-button>
    </form>
  </div>
</div>
