<header>
  <div class="container">
    <a routerLink="/" class="logo"> Sweets & More</a>
    <!-- <div>
    <img src="..\assets\Images\Logo\Logo.JPG" alt="Logo">
    </div> -->
    <app-search></app-search>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-settings">
          <a routerLink="/settings">Settings</a>
          <div class="menu">
            <a routerLink="/users">Users</a>
            <a routerLink="/allOrders">All Orders</a>
          </div>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Malek</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
