<app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="Cart Page is Empty!"
  resetLinkText="Go To HomePage"
>
</app-not-found>
<div *ngIf="cart && cart.items.length > 0" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <a routerLink="/{{ cartItem.food.tags }}/{{ cartItem.food.id }}">
          <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name" />
        </a>
      </div>
      <div>
        <a routerLink="/{{ cartItem.food.tags }}/{{ cartItem.food.id }}">
          {{ cartItem.food.name }}
        </a>
      </div>
      <div>
        <!-- <select
          #quantitySelect
          [value]="cartItem.quantity"
          (change)="changeQuantity(cartItem, quantitySelect.value)">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select> -->
        <span class="material-icons"
          (click)="changeQuantity(cartItem, '-1')"
        >
        remove_circle_outline
        </span>
        <span class="quantity">
          {{ foodQuantity }}
        </span>
        <span
          class="material-icons"
          (click)="changeQuantity(cartItem, '1')"
        >
        add_circle_outline
        </span>
      </div>
      <div>{{ cartItem.food.price }} NIS</div>
      <div class="material-icons" (click)="removeFromCart(cartItem)">
        delete
      </div>
      <!-- <button class="remove-button" (click)="removeFromCart(cartItem)">
                Remove
            </button> -->
    </li>
  </ul>

  <div class="checkout">
    <div>
      <div class="foods-count">{{ cart.totalCount }}</div>
      <div class="total-price">{{ cart.totalPrice }} NIS</div>
    </div>
    <a routerLink="['/checkOut']"> Proceed to CheckOut </a>
  </div>
</div>
