<div class="container">
  <div class="details">
    <app-title title="Add New Product"></app-title>
    <form [formGroup]="addProductForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Product Name"
      >
      </text-input>
      <div class="tags" *ngFor="let category of categories">
        <input
          (change)="onItemChange($event)"
          type="radio"
          name="category"
          value="{{ category }}"
        />
        {{ category }}
      </div>

      <text-input
        [control]="fc.tags"
        [showErrorsWhen]="isSubmitted"
        label="Category"
        type="text"
        value="{{ selectedCategory }}"
      >
        {{ selectedCategory }}
      </text-input>

      <text-input
        [control]="fc.description"
        [showErrorsWhen]="isSubmitted"
        label="Description"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.price"
        [showErrorsWhen]="isSubmitted"
        label="Price (NIS)"
        type="number"
      >
      </text-input>

      <text-input
        [control]="fc.piece"
        [showErrorsWhen]="isSubmitted"
        label="Sell By: (Piece / Packet / KG / Cake)"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.imageUrl"
        [showErrorsWhen]="isSubmitted"
        label="Picture"
        type="file"
        accept="image/*"
      >
      </text-input>

      <default-button text="Add Product"></default-button>
    </form>
  </div>
</div>
