<div class="container">
  <div class="details">
    <app-title title="Add New Product"></app-title>
    <form [formGroup]="addProduct" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Product Name"
      >
      </text-input>

      <text-input
        [control]="fc.tags"
        [showErrorsWhen]="isSubmitted"
        label="Category"
        type="text"
      >
      </text-input>
      <select class="select"
        fullWidth
        size="3"
        font-size="30px"
      >
        <Option value="sweets">Sweets</Option>
        <Option value="pastries">Pastries</Option>
        <Option value="ourCuisine">Our Cuisine</Option>
      </select>

      <!-- <Select
        type="text"
        id="category"
        name="category"
        required
        fullWidth
        size="3"
        font-size="30px"
      >
        <Option value="sweets">Sweets</Option>
        <Option value="pastries">Pastries</Option>
        <Option value="ourCuisine">Our Cuisine</Option>
      </Select> -->
      <!-- </text-input> -->

      <!-- <textarea
      placeholder="Description   (max 200 Chars)"
      minLength="1"
      maxLength="200"
      name="Description" id="description" cols="50" rows="5">
      </textarea> -->
      <text-input
        [control]="fc.description"
        [showErrorsWhen]="isSubmitted"
        label="Description"
        type2="textArea"
      >
      </text-input>

      <text-input
        [control]="fc.favorite"
        [showErrorsWhen]="isSubmitted"
        label="Favorite"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.price"
        [showErrorsWhen]="isSubmitted"
        label="Price"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.piece"
        [showErrorsWhen]="isSubmitted"
        label="Sell By:"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.stars"
        [showErrorsWhen]="isSubmitted"
        label="Stars"
        type1="number"
      >
      </text-input>

      <text-input
        [control]="fc.imageUrl"
        [showErrorsWhen]="isSubmitted"
        label="Picture"
        type="text"
      >
    </text-input>
    <input type="file" id="img" name="img" accept="image/*" required>

      <default-button text="Add Product"></default-button>
    </form>
  </div>
</div>
