<div class="container">
  <div class="details">
    <app-title title="Add New Product"></app-title>
    <form [formGroup]="addProductForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Product Name"
      >
      </text-input>

      <text-input
        [control]="fc.tags"
        [showErrorsWhen]="isSubmitted"
        label="Category (Sweets / Pastries / Our Cuisine) "
        type="select"
        >
        <Option value="Sweets">Sweets</Option>
        <Option value="Pastries">Pastries</Option>
        <Option value="Our Cuisine">Our Cuisine</Option>

      </text-input>

      <text-input
        [control]="fc.description"
        [showErrorsWhen]="isSubmitted"
        label="Description"
        type="textArea"
      >
      </text-input>

      <text-input
        [control]="fc.price"
        [showErrorsWhen]="isSubmitted"
        label="Price"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.piece"
        [showErrorsWhen]="isSubmitted"
        label="Sell By: (Piece / Packet / KG / Cake)"
        type="text"
      >
      </text-input>

      <text-input
        [control]="fc.imageUrl"
        [showErrorsWhen]="isSubmitted"
        label="Picture"
        type="file"
        accept="image/*"
      >
    </text-input>

      <default-button text="Add Product"></default-button>
    </form>
  </div>
</div>
