<div class="container">
  <div class="details">
    <app-title title="Delete Product"></app-title>
    <form [formGroup]="deleteProductForm" (ngSubmit)="submit()">
      <div>
        <label for="Category">Category</label>
      </div>
      <div class="category">
        <div *ngFor="let category of categories">
          <input
            type="radio"
            id="category"
            name="category"
            value="{{ category }}"
            (change)="getFoodByTag(category)"
          />
          {{ category }}
        </div>
      </div>
      <br />
      <div>
        <label for="CategoryProducts">Category Products</label>
      </div>
      <div class="categoryProducts">
        <div *ngFor="let food of foods">
          <input
            type="radio"
            id="product"
            name="CategoryProducts"
            value="{{ food.name }}"
            (change)="getFoodById(food.id)"
          />{{ food.name }}
        </div>
      </div>

      <default-button text="Delete Product"></default-button>
    </form>
  </div>
</div>
