<h3>Users List</h3>
<table>
  <tr>
    <td>
      <strong> Name </strong>
    </td>
    <td>
      <strong> Email </strong>
    </td>
    <td>
      <strong> Address </strong>
    </td>
    <td>
      <strong> Admin </strong>
    </td>
    <td>
      <strong> Manage </strong>
    </td>
  </tr>
  <tr *ngFor="let user of users">
    <td>
      {{ user.name }}
    </td>
    <td>
      {{ user.email }}
    </td>
    <td>
      {{ user.address }}
    </td>
    <td>
      <!-- <span class="material-symbols-outlined"> check_box </span> -->
      <!-- <span class="material-symbols-outlined"> cancel </span> -->
      {{user.isAdmin ?
        <span class='material-symbols-outlined'> check_box </span>:
        <span class='material-symbols-outlined'> cancel </span>
      }}
    </td>
    <td>
      <span class="material-symbols-outlined"> priority </span>
      <span class="material-symbols-outlined"> more_vert </span>
      <span class="material-symbols-outlined"> edit_square </span>
      <span class="material-symbols-outlined"> more_vert </span>
      <span class="material-symbols-outlined"> delete </span>
    </td>
  </tr>
</table>
