<footer>
  <div class="container">
    <div class="title">Follow Us:</div>
    <div class="social-media">
      <a
        href="https://www.facebook.com/Sweets-more-by-Um-Anas-1742962809327410"
        target="_blank"
      >
        <fa-icon
          style="font-size: 2rem; color: #3b5999"
          [icon]="facebookIcon"
        ></fa-icon>
      </a>
      <a
        href="https://www.instagram.com/um.anas.sweets/"
        target="_blank"
      >
        <fa-icon
          style="font-size: 2rem; color: #ac2bac"
          [icon]="instagramIcon"
        ></fa-icon>
      </a>
    </div>
    <div class="title">Powered By: Malek Butto</div>
    <div class="owner">
      <div class="social-media">
        <a
          href="https://www.facebook.com/malek.butto/"
          target="_blank"
        >
          <fa-icon
            style="font-size: 2rem; color: #3b5999"
            [icon]="facebookIcon"
          ></fa-icon>
        </a>
        <a
          href="https://www.instagram.com/malekbutto/"
          target="_blank"
        >
          <fa-icon
            style="font-size: 2rem; color: #ac2bac"
            [icon]="instagramIcon"
          ></fa-icon>
        </a>
        <a
          href="https://github.com/malekbutto/"
          target="_blank"
        >
          <fa-icon
            style="font-size: 2rem; color: #333333"
            [icon]="gitHubIcon"
          ></fa-icon>
        </a>
        <a
          href="https://www.linkedin.com/in/malek-butto/"
          target="_blank"
        >
          <fa-icon
            style="font-size: 2rem; color: #0a66c2"
            [icon]="linkedInIcon"
          ></fa-icon>
        </a>
        <fa-icon
          style="font-size: 2rem; color: #0a66c2"
          [icon]="phoneIcon"
        ></fa-icon
        >+972-52-3792-338
      </div>
    </div>
    <div class="title">Contact:</div>
    <div class="contact">
      <fa-icon
        style="font-size: 2rem; color: #0a66c2"
        [icon]="locationIcon"
      ></fa-icon
      >1006/21 , Nazareth-Israel, 1650100
      <fa-icon
        style="font-size: 2rem; color: #0a66c2"
        [icon]="phoneIcon"
      ></fa-icon
      >+972 52-474-1860 / +972 4-667-5170
    </div>
  </div>
</footer>
