<div class="container">
  <div class="content">
    <app-title title="Order Form" fontSize="1.6rem"></app-title>
    <form [formGroup]="checkoutForm">
      <text-input [control]="fc.name" label="Name"></text-input>
      <div class="address-input-container">
        <text-input [control]="fc.address" label="Address"></text-input>
        <button
          class="navigate-icon"
          (click)="navigateToAddress($event)"
          title="Open in Google Maps"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
        </button>
      </div>
    </form>
    <order-items-list [order]="order"></order-items-list>
  </div>
  <div class="map">
    <app-title title="Choose Your Address On Map" fontSize="1.6rem"></app-title>
    <map [order]="order" (locationSelected)="onLocationSelected($event)"></map>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <button (click)="createOrder()">Place Order</button>
    </div>
  </div>
</div>
